
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}

.logoGen{display: flex; flex-wrap: wrap; justify-content: space-around; text-align: justify-content-center;}

.logo{text-align: center; margin: 20px;}

a:link 
{ 
text-decoration:none; 
} 


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image:url(Image/Moi_3.JPG);
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("Image/projet.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("Image/contact.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* image overlay*/

.imageOverlay {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #E8E8E8;
}

.imageOverlay:hover .overlay {
    opacity: 1;
}

.imageCentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text.visible-lg,
.text.visible-md {
    font-size: 3em;
}

.text.visible-sm {
    font-size: 2em;
}

.text.visible-xs {
    font-size: 1em;
}

.multiImage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.text {
    color: black;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
